<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!-- 懒加载，配合web.xml中配置的 openSessionInViewFilter
		     	从hibernate4.x+开始，需要配合懒加载使用
		 -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<!-- 配置hbm.xml映射文件 -->
		<mapping resource="cn/itheima/domain/Dept.hbm.xml"/>
		<mapping resource="cn/itheima/domain/User.hbm.xml"/>
		<mapping resource="cn/itheima/domain/UserInfo.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Role.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Module.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Contract.hbm.xml"/>
		<mapping resource="cn/itheima/domain/ContractProduct.hbm.xml"/>
		<mapping resource="cn/itheima/domain/ExtCproduct.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Factory.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Export.hbm.xml"/>
		<mapping resource="cn/itheima/domain/ExportProduct.hbm.xml"/>
		<mapping resource="cn/itheima/domain/ExtEproduct.hbm.xml"/>

	</session-factory>
</hibernate-configuration>

