<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		
		<!-- 配置hbm.xml映射文件 -->
		<mapping resource="cn/itheima/domain/Dept.hbm.xml"/>
		<mapping resource="cn/itheima/domain/User.hbm.xml"/>
		<mapping resource="cn/itheima/domain/UserInfo.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Role.hbm.xml"/>
		<mapping resource="cn/itheima/domain/Module.hbm.xml"/>

	</session-factory>
</hibernate-configuration>

